.my-card {
  height: fit-content;
  min-height: 60vh;
  border: 1px solid;
  border-color: white;
  background-color: white;
  border-radius: 3rem !important;
  transition: 500ms;
  margin: 1rem;
  width: 20rem;
}

.my-card > img {
  width: 100%;
  height: fit-content;
  border-radius: 3rem;
}

.my-card:hover {
  padding: 0rem;
  border-color: black;
  border-radius: 3rem;
  transition: 500ms;
}

.my-card-body {
  margin-top: 5vh;
}
