.projects-landing {
  height: fit-content;
  justify-content: center;
  align-items: left;
  padding: 10vh 0;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 20%,
      rgba(164, 188, 190, 0)
    ),
    url("../../Assets/Backgrounds/landing_background.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-card {
  margin: 1rem;
  border-radius: 2rem !important;
  overflow: hidden;
}

.my-card > img {
  width: auto;
  border-radius: 2rem !important;
}
