/*
The box for the timeline content
*/
.education-timeline > .vertical-timeline-element > div {
  padding: 0 !important;
  border-radius: 1rem !important;
}

/* Icon extra styling */
.vertical-timeline-element-icon {
  overflow: hidden;
  text-align: center;
}

.vertical-timeline-element-icon img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  object-fit: contain;
  max-height: 100%;
  width: 40px;
  height: 40px;
}

.landscape-image {
  opacity: 0.7;
  border-radius: 1rem;
}

.education-element-text-content {
  padding: 0.7rem;
}

.my-element-date {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}

.education-description {
  margin: 1 !important;
  padding: 1rem;
  align-items: left !important;
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline-element-icon img {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
  }
}
