.education-landing {
  height: fit-content;
  justify-content: center;
  align-items: left;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  background-image: url("../../Assets/Backgrounds/education_background.jpg");
  background-position: right fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.education-handing {
  color: white !important;
}

.cards {
  margin-top: 10vh;
}
