.education-landing {
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 75%,
      rgba(0, 0, 0, 1)
    ),
    url("../../Assets/Backgrounds/education_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.education-handing {
  color: white !important;
}

.education-date {
  color: black;
  font-weight: bold;
  font-style: italic;
}
