.my-landing-container {
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(195, 205, 214, 0) 60%,
      rgba(195, 205, 214, 255)
    ),
    url(../../Assets/Backgrounds/landing_background.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.scrolling_div {
  padding-top: 2%;
}

.my-social-media {
  margin-top: 2rem;
  margin-bottom: 5rem;
  justify-content: center;
}

.resume-download {
}

#my-btn {
  background-color: white;
  color: black;
  font-size: large;
  transition: 200ms !important;
}
#my-btn:hover {
  background-color: black;
  color: white;
  transition: 200ms !important;
}

.landing-quote-div {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 100px;
  border-radius: 1rem;
  color: black;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
