.my-portrait-card {
  height: fit-content;
  width: fit-content;
  border-radius: 100vh;
  padding-bottom: 3rem;
  justify-content: center;
}

.my-portrait-card > img {
  height: 40vh;
  width: auto;
  border-radius: 100%;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.618);
}
