.my-logo {
  height: 1.5rem;
  width: auto;
  transition: 500ms;
  margin: 0.3rem;
}

.my-logo:hover {
  height: 2rem;
  transition: 500ms;
  /* /background-color: white; 
  border-radius: 5px;*/
}

.social-media-background {
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 1rem;
}
