.skills-landing {
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 7vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0)
    ),
    url("../../Assets/Backgrounds/skills_background.jpg");
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-div {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 2rem;
  margin: 1rem;
}

.curveArea {
  width: 100%;
  height: 300px;
}

.mainBox {
  height: 100%;
  background: black;
  overflow: hidden;
}

.curveSection {
  width: 200%;
  height: 100%;
  border-radius: 100%;
  background: white;
  top: 70%;
  left: -50%;
  right: 0;
  position: relative;
  border-top: 20px solid white;
}

.sub-skill {
  background: #ebf2fa;
  height: fit-content;
  border-radius: 2rem;
  min-height: 5rem;
  padding: 1rem;
}

.my-card {
  box-shadow: 0px 0px 20px grey;
}
