.my-nav-links {
  margin-left: 0rem;
}

.my-nav-bar {
  height: auto;
}

.my-brand-image {
  height: 40px;
  width: auto;
  padding-bottom: 0% !important;
  padding-top: 3px !important;
  margin-left: 1rem;
}

.my-nav-brand {
  width: 200px;
}

.my-nav-link {
  font-size: px;
  color: black;
  transition: 300ms;
}

.nav-link {
  color: black;
}

.my-contact-btn {
  background-color: black !important;
  color: white !important;
}

.my-nav-link:hover {
  color: #5c5c5c !important;
  transition: 300ms;
}

@media screen and (max-width: 768px) {
  .my-brand-image {
    padding-top: 3px !important;
    margin-left: 0rem;
  }
}
