.my-nav-links {
  margin-left: 1rem;
}

.my-nav-bar {
  height: auto;
  background: black;
  color: white !important;
}

.my-brand-image {
  height: 50px;
  width: auto;
  padding-bottom: 0% !important;
  padding-top: 3px !important;
  margin-left: 0.5rem;
}

.my-nav-brand {
  width: fit-content;
  height: fit-content;
}

.my-nav-link {
  font-size: px;
  color: white !important;
  transition: 300ms;
}

.my-nav-link:hover {
  color: #5c5c5c !important;
  transition: 300ms;
}

.my-contact-btn {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .my-brand-image {
    padding-top: 3px !important;
    margin-left: 0rem;
  }
}
