.tech-used {
  height: fit-content;
  width: 100%;
  margin-top: 0.5rem;
}

/*
The box for the timeline content
*/
.experience-timeline > .vertical-timeline-element > div {
  padding: 2rem !important;
  border-radius: 1rem !important;
}

/*
The box for the timeline content

.vertical-timeline-element-content {
  box-shadow: 0 10px 0 blue !important;
}
*/

.tech-image {
  margin: 7px;
}
