.experience-landing {
  height: fit-content;
  justify-content: center;
  align-items: left;
  padding-top: 10vh;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(195, 205, 214, 0) 50%,
      rgba(255, 255, 255, 30)
    ),
    url("../../Assets/Backgrounds/experience_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
}

.cards {
  margin-top: 10vh;
}

.div-after-experience {
  height: 20vh;
  background-color: white;
  padding: 1vh;
}

.experience-to-project-quote {
  height: 10vh;
  margin: 50px;
  border-radius: 1rem;
  border: 3px solid black;
  background-color: red;
}
