body {
  margin: 0;
  font-family: "LeagueSpartan-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: LeagueSpartan-Bold, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: local("LeagueSpartan-Bold.ot"), url(fonts/LeagueSpartan-Bold.otf);
}
